---
import Layout from '../layouts/Layout.astro';
import Section from 'fulldev-ui/components/Section.astro';
import Column from 'fulldev-ui/components/Column.astro';
import Posts from 'fulldev-ui/blocks/Posts.astro'
---
<Layout title="Feed">
    <Section align="center">
        <Column class="posts">
            Test
        </Column>
    </Section>

</Layout>

<script>

    const template = `<div class="card root column structure-column align-start frame-none radius-auto space-auto">        <span class="tagline root color-base">{time}</span>  <div class="spread root align-center">  <h4 class="heading root contrast level-4 color-base">{name}</h4>    </div>  <p class="text root color-base">{content}</p>       </div>`;

    const posts = await fetch('/api/events').then(res => res.json());

    const postsContainer = document.querySelector('.posts');

    // @ts-ignore
    posts.forEach(post => {
        const postElement = document.createElement('div');
        postElement.innerHTML = template
            .replace('{time}', post.start)
            .replace('{name}', post.title)
            .replace('{content}', post.content);
        // @ts-ignore
        postsContainer.appendChild(postElement);
    });


</script>